<div class="loginscreen_bg"></div>

<div class="loginscreen z-3">
    <div class="text-center">
            <h2>Hi! This is the Personal Finances App</h2>
            <h3>Please log in to continue</h3>
        </div>

        <form action="get">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" required>
                <div id="emailHelp" class="form-text text-light">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
</div>