.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    z-index: 1;
}

.selected{
    border-radius: 10px;
    background-color: #0b2028;
    cursor: pointer;
}

ul li:hover{
    background-color: #0b2028;
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: #212529;
}

@media screen and (max-width: 1200px) {
    .sidebar{
        width: 30%;
    }
    
}

@media screen and (max-width: 800px) {
    .sidebar{
        width: 50%;
    }
    
}

@media screen and (max-width: 500px) {
    .sidebar{
        width: 100%;
    }
    
}