@if(width < 800){
    <div class="position-fixed z-2 p-3 w-auto top-0 end-0">
        <a (click)="toggleSidebar()">
            <h3>
                <i class="bi bi-grid-3x3-gap"></i>
            </h3>
        </a>
    </div>
}

<div class="{{width > 700 ? 'd-grid' : 'd-block'}} min-vh-100 main-grid">
        <aside class="sidebar position-fixed border-end border-light">
            <div class="d-flex flex-column justify-content-around fs-5 p-4 pt-2 h-100 bg-primary text-light">
                <h2 class="text-center">Matheus Coelho</h2>

                <ul class="d-flex flex-column gap-3 list-unstyled">
                    <li class="ps-4 p-2 rounded-3" [class.selected]="selected == 'dashboard'">
                        <a routerLink="/home" (click)="changeSelected('dashboard')" class="d-flex gap-3 link text-light">
                            <i class="bi bi-house"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="ps-4 p-2 rounded-3" [class.selected]="selected == 'wallet'">
                        <a (click)="changeSelected('wallet')" routerLink="/wallet" class="d-flex gap-3 link text-light">
                            <i class="bi bi-wallet"></i>
                            Wallet
                        </a>
                    </li>
                    <li class="ps-4 p-2 rounded-3" [class.selected]="selected == 'transactions'">
                        <a (click)="changeSelected('transactions')" class="d-flex gap-3 link text-light">
                            <i class="bi bi-clipboard-minus"></i>
                            Transactions
                        </a>
                    </li>
                    <li class="ps-4 p-2 rounded-3">
                        <a class="d-flex gap-3 link text-light">
                            <i class="bi bi-search"></i>
                            Search
                        </a>
                    </li>
                </ul>


                <ul class="d-flex flex-column gap-3 list-unstyled border-top border-dark pt-4">
                    <li class="ps-4 p-2 rounded-3">
                        <a class="d-flex gap-3 link text-light">
                            <i class="bi bi-gear"></i>
                            Settings
                        </a>
                    </li>
                    <li class="ps-4 p-2 rounded-3">
                        <a href="" class="d-flex gap-3 link text-light">
                            <i class="bi bi-question-circle"></i>
                            Help
                        </a>
                    </li>
                    <li class="ps-4 p-2 rounded-3">
                            @if(isAuthenticated){
                                <a class="d-flex gap-3 link text-light">
                                    <i class="bi bi-box-arrow-in-left text-light"></i>
                                    Logout
                                </a>
                            } @else {
                                 <a routerLink="/login" class="d-flex gap-3 link text-light">
                                    <i class="bi bi-box-arrow-in-right text-light"></i>
                                    Login
                                </a>
                            }
                    </li>
                </ul>
            </div>
        </aside>
    <router-outlet/>
</div>