.sidebar{
    width: 20%;
}

.selected{
    border-radius: 10px;
    background-color: hsl(196, 55%, 10%);
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: #212529;
}

@media screen and (max-width: 1100px) {
    .sidebar{
        width: 50%;
    }
    
}

@media screen and (max-width: 800px) {
    .sidebar{
        width: 60%;
    }
    
}

@media screen and (max-width: 500px) {
    .sidebar{
        width: 100vh;
    }
    
}