form{
    margin-top: 2vh;
}

.main-width{
    width: 52vw;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    .main-width{
        width: 80vw;
    }
    
}

@media screen and (max-width: 500px) {
    .wallet-main{
        display: flex;
        justify-content: center;
    }
    .main-width{
        width: 80vw;
    }

    #search{
        width: 100%;
    }
    
    .input-group{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    th {
        display: none;
    }
    tr{
        border-top: 0.1rem solid #fff;
    }
    td {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0.7rem;
    }
}