<main class="main-width d-flex flex-column justify-content-center mt-5">
  <div class="container-fluid">
    <app-wallet_chart></app-wallet_chart>

    <form>
      <nav>
        <div class="input-group mb-3 gap-2">
          <input id="search" type="text" class="form-control bg-primary rounded-3" aria-label="Search">

          <div class="dropdown">
            <a routerLink="/add-expense" class="text-light m-auto">
              <i class="bi bi-plus"></i>
            </a>

            <button class="btn btn-primary rounded-2 dropdown-toggle z-0" data-bs-toggle="dropdown">Filters</button>

            <div class="dropdown-menu dropdown-menu-dark">
              <a class="dropdown-item">Higher Price</a>
              <a class="dropdown-item">Lower Price</a>
              <a class="dropdown-item">Most Recent</a>
              <a class="dropdown-item">Last Recent</a>
            </div>
          </div>

          <button class="btn btn-secondary rounded-4 z-0" type="submit" id="button-addon2">Search</button>
        </div>
      </nav>
    </form>

    <table class="table table-bordered table-dark table-hover text-center">
      <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
      </thead>

      <tbody class="table-group-divider">
        @for (i of (httpService.user$ | async)?.expenses; track $index) {
          <tr>
            <td>{{i.name}}</td>
            <td class="text-{{i.category == 'Income' ? 'success' : 'danger' }}">
                R$ {{i.category == 'Income' ? '' : '-'}}{{i.value}}
            </td>
            <td>{{i.category}}</td>
            <td>{{i.date}}</td>
            <td>
              <button class="btn btn-danger" (click)="this.deleteExpenseAndCategory(i)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</main>