<form #myForm="ngForm" class="main-size">
  <p class="text-danger text-center m-1" [class.d-none]="hasName">Please insert Name and Value</p>

  <div class="">
    <label for="name" required class="form-label" #nameInput>Name</label>
    <input type="text" class="form-control border border-light bg-dark text-light" id="name">
  </div>
  <div class="">
    <label for="category" class="form-label">Category</label>
    <select class="form-select border border-light bg-dark text-light" id="category">
      <option value="Income">Income</option>
      <option value="Bills">Bills</option>
      <option value="Food">Food</option>
      <option value="Transportation">Transportation</option>
      <option value="Credit Card">Credit Card</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <div class="">
    <label for="amount" class="form-label" #amountInput>Amount</label>
    <input type="number" required class="form-control border border-light bg-dark text-light" id="amount">
  </div>
  <div class="">
    <label for="date" class="form-label">Date</label>
    <input type="date" class="form-control border border-light bg-dark text-light" id="date">
  </div>
  <button type="submit" routerLink="/wallet" (click)="this.addData()" class="btn btn-secondary mt-3 me-2">Create</button>
  <button type="submit" routerLink="/wallet" (click)="chartService.removeData()" class="btn btn-danger mt-3">Remove Data</button>
</form>