<main class="max-width mx-auto">
    <div class="container-fluid margin-pc">
        <div class="row">
            <div class="col-md-6 col-lg-6  d-grid gap-3">
            <!-- Wallet -->
            <div class="d-flex justify-content-center card bg-primary text-center text-light border border-light">
                <h4 [className]="{
                    'text-success': this.walletService.totalAmount > 0, 
                    'text-danger': this.walletService.totalAmount < 0}">
                    R${{ this.walletService.totalAmount}}
                </h4>
                <p class="text-success mb-0">↑ R${{ this.walletService.totalIncomes }}</p>
                <p class="text-danger">↓ R${{ this.walletService.totalExpenses }}</p>
            </div>

            <!-- Payables -->
            <div class="card bg-primary text-light border border-light">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Bills This Month</h4>
                <a routerLink="/add-bill" class="text-light">
                    <i class="bi bi-plus"></i>
                </a>
            </div>
            <ul class="list-unstyled mt-2">
                @for (i of this.billsService.bills.slice(0, 15); track $index) {
                    <li>
                    <a class="text-light arrow"
                        (click)="changeSelected('wallet')">
                        <i class="bi bi-bank"></i>
                    </a>
                    {{ 
                        "R$" + i.amount + 
                        " - " + i.name + 
                        " - " + i.date
                    }}
                    </li>
                }
            </ul>
            </div>
        </div>
        <!-- Transactions -->
        <div class="col-md-6 col-lg-6">
            <div class="card bg-primary text-light border border-light">
            <h4>Recent Transactions</h4>
            <ul class="list-unstyled mt-2">
                 @for (i of this.walletService.totalWallet.slice(0, 15); track $index) {
                    <li>
                    <a routerLink="/wallet" class="text-light arrow"
                        (click)="changeSelected('wallet')">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                    {{ 
                        i.name + " - " +
                        "R$" + i.amount
                    }}
                    </li>
                }
                @if (this.walletService.totalWallet.length > 0) {
                    <li>
                        @if (this.walletService.totalWallet.length > 15) {
                            <a routerLink="/wallet" 
                            (click)="changeSelected('wallet')" 
                            class="text-light link">...more</a>
                        }
                    </li>
                }
            </ul>
            </div>
        </div>
        </div>
    </div>
</main>