<main class="max-width mx-auto">
    <div class="container-fluid margin-pc">
        <div class="row">
            <div class="col-md-6 col-lg-6  d-grid gap-3">
            <!-- Wallet -->
            <div class="d-flex justify-content-center card bg-primary text-center text-light border border-light">
                <h4>$4,523.98</h4>
                <p class="text-success mb-0">↑ $3,030.98</p>
                <p class="text-danger">↓ $223.98</p>
            </div>

            <!-- Payables -->
            <div class="card bg-primary text-light border border-light">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Payables</h4>
                <a class="">
                    <i class="bi bi-plus"></i>
                </a>
            </div>
            <ul class="list-unstyled mt-2">
                <li>💡 $202.98 - Electricity</li>
                <li>🏠 $3,030.98 - Rent</li>
            </ul>
            </div>
        </div>
        <!-- Transactions -->
        <div class="col-md-6 col-lg-6">
            <div class="card bg-primary text-light border border-light">
            <h4>Transactions</h4>
            <ul class="list-unstyled mt-2">
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
                <li>🛒 Shopping - Nov 25 - R$ 300</li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</main>