<main class="max-width mx-auto">
    <div class="container-fluid margin-pc">
        <div class="row">
            <div class="col-md-6 col-lg-6  d-grid gap-3">
            <!-- Wallet -->
            <div class="d-flex justify-content-center card bg-primary text-center text-light border border-light">
                <h4>$4,523.98</h4>
                <p class="text-success mb-0">↑ $3,030.98</p>
                <p class="text-danger">↓ $223.98</p>
            </div>

            <!-- Payables -->
            <div class="card bg-primary text-light border border-light">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Bills This Month</h4>
                <a>
                    <i class="bi bi-plus"></i>
                </a>
            </div>
            <ul class="list-unstyled mt-2">
                @for (i of this.billsService.bills.slice(0, 15); track $index) {
                    <li>
                    <a class="text-light arrow"
                        (click)="changeSelected('wallet')">
                        <i class="bi bi-bank"></i>
                    </a>
                    {{ 
                        "R$" + i.amount + 
                        " - " + i.name
                    }}
                    </li>
                }
            </ul>
            </div>
        </div>
        <!-- Transactions -->
        <div class="col-md-6 col-lg-6">
            <div class="card bg-primary text-light border border-light">
            <h4>Recent Transactions</h4>
            <ul class="list-unstyled mt-2">
                 @for (i of this.walletService.totalWallet.slice(0, 15); track $index) {
                    <li>
                    <a routerLink="/wallet" class="text-light arrow"
                        (click)="changeSelected('wallet')">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                    {{ 
                        i.name + " - " +
                        "R$" + i.amount
                    }}
                    </li>
                }
                @if (this.walletService.totalWallet.length > 0) {
                    <li><a routerLink="/wallet" 
                        (click)="changeSelected('wallet')" 
                        class="text-light link">...more</a>
                    </li>
                }
            </ul>
            </div>
        </div>
        </div>
    </div>
</main>